python/Small.data
python/Small.config
__pycache__/
Database_HW/hw1/python/Small.config
.gitignore
Database_HW/hw1/python/Small.data
Database_HW/hw1/python/Fortune500.data
Database_HW/hw1/python/Fortune500.config
.DS_Store
Database_HW/.DS_Store
Database_HW/Project/.DS_Store
Database_HW/Project/DBProject/backend/node_modules
Database_HW/Project/DBProject/frontend/package-lock.json
Database_HW/Project/DBProject/backend/package-lock.json
