python/Small.data
python/Small.config
__pycache__/
Database_HW/hw1/python/Small.config
.gitignore
Database_HW/hw1/python/Small.data
Database_HW/hw1/python/Fortune500.data
Database_HW/hw1/python/Fortune500.config
